body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

button{
    background-color: blueviolet;
    padding: 1%;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    
}

button:hover{
    cursor: pointer;
    background-color: beige;
}